@import url(./fonts/fonts.css);
@import url(./fonts/normalize.css);

    .page {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        font-style: normal;
        font: 16px / 1.42 "Roboto", Arial, sans-serif;
        background: #fcf5e6;
        max-width: 1440px;
        font-style: normal;
        font-size: 16px;
    }
    
    .header{
      min-height: 756px;
      max-width: 1440px;
    }

    .header__top-nav {
    margin: 0 20px 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
  
}
/*
.header__logo {
    padding: 23px 20px 10px 80px;
    width: 150px;
    height: 190;
    

}
*/
    .header__menu_list {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: center;
        z-index: 3;
        padding-top: 27px;
        max-width: 900px;
    
    }
    
    .header__menu_item {
        font-size: 16px;
        margin: 0 48px 0 0;
        padding: 5px 5px;
        color: #212121;
        font-weight: 400;
        text-decoration: none;
        z-index: 1;
        background: #ffc92f;
        border-radius: 40px;
        text-transform: uppercase;
      
    }
    
    .header__menu_item:hover,
    .header__menu_item:active,
    .header__menu_item:focus {
        background-color: #f6e6ba;
        border-radius: 40px;
        transition: all 0.4s ease;
    }
    
    .header__menu_item:hover > .header__menu_link,
    .header__menu_item:active > .header__menu_link,
    .header__menu_item:focus > .header__menu_link {
        color: #212121;
    }
    
    .header__menu_link {
        text-decoration: none;
        color: #212121;
        font-weight: 500;
    }
    .header__top-content {
        justify-content: space-between;
        min-height: 740px;
        
    }
    
    .header__top-content_article {
        margin: 0;
        padding: 0;
        position: relative;
        background-image: url(./img/kofe_lozhki_natiurmort_167967_3840x2400.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        background-color: #212121;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
      overflow: hidden;
        
    }
    .header__top-content_article:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    }
    .header__top-content_title {
        font-size: 56px;
        text-align: center;
        font-weight: 400;
        color: #ffc92f;
        max-width: 704px;
        margin: 0;
        z-index: 3;
        text-decoration: underline;
    }
    .header__okno { z-index: 3;
    margin:400px 0px 0 auto;
    padding: 0;
}
    .header__top-content_paragraph {
        font-size: 24px;
        font-weight: 200;
        text-align: center;
        max-width: 604px;
        color: #ffc92f;
        margin: 16px 70px 220px auto;
        z-index: 3;
    }
    
   /* .header__top-content_button {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        background-color: #ffc92f;
        width: 175px;
        height: 50px;
        border: 1px solid #ffc92f;
        border-radius: 40px;
        margin: 0 0 351px;
        z-index: 3;
        text-transform: uppercase;
    }
    */
    .header__top-content_button:focus,
    .header__top-content_button:active,
    .header__top-content_button:hover,
    .how-it-works__subs_button:focus,
    .how-it-works__subs_button:active,
    .how-it-works__subs_button:hover,
    .categories__content_item-button:focus,
    .categories__content_item-button:active,
    .categories__content_item-button:hover,
    .slider__group_prev-slide:focus,
    .slider__group_prev-slide:active,
    .slider__group_prev-slide:hover,
    .slider__group_next-slide:focus,
    .slider__group_next-slide:active,
    .slider__group_next-slide:hover,
    .footer__subscribe_form-button:focus,
    .footer__subscribe_form-button:active,
    .footer__subscribe_form-button:hover {
        cursor: pointer;
    }
    /* 
    .header__top-content_pic {
        margin: 0 auto;
    }
   
    .header__top-content_right-col,
    .header__top-content_bg-design {
        display: none;
 
 

    .about-us,
    .how-it-works,
    .categories,
    .testimony {
        margin-bottom: 10px;
    }   }*/
    .info {
        margin: 0;
        padding: 50px 30px;
        text-align: center;
        font-size: 16px;
        background-color: #ffc92f;
        max-width: 1440px;
        position: relative;
    }
    .info__shop{
        margin:0;
        padding: 0;
        max-width: 604px;
        font-size: 34px;
        text-align: left;
        font-weight: 100;
        color: #212121;
        max-width: 704px;
        z-index: 3;}
    
    .info__my{max-width: 604px;
        font-size: 34px;
        text-align: left;
        font-weight: 100;
        color: #212121;
        max-width: 704px;
        padding-top: 25px;
        z-index: 3;}
    .info__paragraph{
        max-width: 604px;
        font-size: 34px;
        text-align: left;
        font-weight: 100;
        color: #212121;;
        max-width: 704px;
        padding: 0px;
        z-index: 3;}
        .map {
            color: black;
            background-color:  #ffc92f;
            margin: 0;
            padding: 50px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            align-content: center;
        }
        .map__title{margin:0 0 30px;
        padding:0px;}
        .map__info{
          margin:0 30px;
          display: inline-flex;
    justify-content: center;
        }
    .map__ikonka{
      width: 20px;
      min-height: 100%;
      margin: 0 5px;
      padding: 0;
      

    }
    .map__image{
      height: 60px;
    }
    .map__img{
      display:inline;
      width: 170px;  
      margin-right: 30px;
    }
    .map__img:hover,
    .map__img:active,
    .map__img:focus {
      background-color: #f6e6ba;
        transition: all 0.4s ease;
    }
   
       .block_produkt{
        font: 16px / 1.42 "Roboto", Arial, sans-serif;
  color: #212121;
  background: #fcf5e6;
  margin: 10px auto;
  max-width: 1440px;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
       }
       
          /* ---- products-filter ---- */
          
          .products-filter {
            display:flex;
            margin: 148px 0 104px 30px;
            padding: 0;
            flex-direction: column;
            position:relative;
          }
          .verh { 
            background: #212121;
          }
          .button {
            padding: 12px;
            margin: 0;
            color: #212121;
            text-transform: uppercase;
            font-weight: bold;
            border: 0;
            position: relative;
            background-color: transparent;
            text-align: left;
              
          }
          .button:last-child {
            margin-right: 0;
          }
          .button:hover,
          .button:active,
          .button:focus {
              background-color: black;
              border-radius: 6px;
              transition: all 0.4s ease;
            color: #ffc92f;
            bottom: -1px;
          }
          .button__active {
            background-color: black;
            color: #ffc92f;
          }
          
          /* ----  ---- */
          .products-filter__link {
            font-family: "Yanone Kaffeesatz", Arial, sans-serif;
            text-transform: uppercase;
            padding: 2px 21px;
            text-decoration: none;
            color: #1b1b1b;
            font-size: 24px;
            font-weight: bold;
            display: inline-block;
          }
          
          .products-filter__link:hover {
            color: #d82727;
          }
          
          
          .products-filter__item {
            margin-right: 46px;
          }
          
          .products-filter__item:last-child {
            margin-right: 0;
          }
          
          /* ---- products ---- */
          
          .products__list {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 30px auto 0;
          }
          
          .products__item {
            width: 250px;
            margin-left: 27px;
            height: 386px;
            background: #ffc92f;
            position: relative;
            margin-bottom: 25px; 
            display: inline-block;
            overflow: hidden;
            transition: 0.5s all;
          }
          
          .products__link {
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          
          .products__link:hover .products__desc {
            transform: translate(0);
          }
          
          .products__content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
          }
          
          .products__img {
            display: block;
            max-width: 80%;
            max-height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          
          
          
          .products__item--color-black {
            background: #232323;
          }
          
          .products__item--color-black .products__price {
            color: #212121;
            border-bottom-color: #ffc92f;
          }
          
          .products__desc {
            position: absolute;
            padding: 58px 30px;
            background: rgba(35, 35, 35, 0.8);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transform: translateY(110%);
            transition: transform 0.3s;
            width: 100%;
            min-height: 100%;
            margin: 0;
            padding: 0;
            background-repeat: no-repeat;
            background-size: cover;
            justify-content: center;
            text-decoration: none;
          }
          
          .products__desc-text {
            margin: 10px 10px 18px;
          }
          
          .products__price {
            border-bottom: 45px solid #232323;
            border-left: 5px solid transparent;
            border-right: 2px solid transparent;
            width: 126px;
            transform: rotate(179deg);
            top: 10px;
            left: -6px;
            position: absolute;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            font-weight: bold;
            font-size: 30px;
            z-index: 5;
          }
          
          .products__price-amount {
            transform: rotate(-179deg);
            position: absolute;
            top: 2px;
            right: 28px;
          }
          
          .products__price-amount .rub {
            font-size: 13px;
          }
          
          .anime {
            transform: scale(0);
            opacity: 0;
          }
          
          .hide {
            animation-name: hide;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
          }
          
          @keyframes hide {
            0% {
              visibility: visible;
              height: 200px;
            }
            100% {
              visibility: hidden;
              width: 0;
              height: 0;
              max-width: 0;
              font-size: 0;
              margin: 0;
            }
          }
          iframe {
            margin: 30px;
          }